In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
accepted_dataset=pd.read_csv("E:/technocolabs/accepted_2007_to_2018q4.csv/accepted_2007_to_2018Q4.csv")
rejected_dataset=pd.read_csv("E:/technocolabs/rejected_2007_to_2018q4.csv/rejected_2007_to_2018Q4.csv")

In [51]:
accepted_dataset.head()

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, fico_range_low, fico_range_high, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, last_fico_range_high, last_fico_range_low, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, ...]
Index: []

[0 rows x 151 columns]

In [4]:
rejected_dataset

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0
...,...,...,...,...,...,...,...,...,...
27648736,10000.0,2016-12-31,Debt consolidation,590.0,41.26%,441xx,OH,< 1 year,0.0
27648737,10000.0,2016-12-31,moving,NaN,1.48%,207xx,MD,5 years,0.0
27648738,1200.0,2016-12-31,Other,686.0,10.26%,914xx,CA,< 1 year,0.0
27648739,25000.0,2016-12-31,debt_consolidation,NaN,17.71%,880xx,NM,< 1 year,0.0
27648740,15000.0,2016-12-31,Business,684.0,10.58%,113xx,NY,< 1 year,0.0

In [5]:
print(accepted_dataset.columns)
print(rejected_dataset.columns)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)
Index(['Amount Requested', 'Application Date', 'Loan Title', 'Risk_Score',
       'Debt-To-Income Ratio', 'Zip Code', 'State', 'Employment Length',
       'Policy Code'],
      dtype='object')

In [6]:
print(accepted_dataset.shape)
print(rejected_dataset.shape)

(2260701, 151)
(27648741, 9)

In [7]:
print(accepted_dataset.info())
print(rejected_dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Columns: 151 entries, id to settlement_term
dtypes: float64(113), object(38)
memory usage: 2.5+ GB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27648741 entries, 0 to 27648740
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount Requested      float64
 1   Application Date      object
 2   Loan Title            object
 3   Risk_Score            float64
 4   Debt-To-Income Ratio  object
 5   Zip Code              object
 6   State                 object
 7   Employment Length     object
 8   Policy Code           float64
dtypes: float64(3), object(6)
memory usage: 1.9+ GB
None

In [8]:
print(accepted_dataset.isnull())
print(rejected_dataset.isnull())

            id  member_id  loan_amnt  funded_amnt  funded_amnt_inv   term  \
0        False       True      False        False            False  False
1        False       True      False        False            False  False
2        False       True      False        False            False  False
3        False       True      False        False            False  False
4        False       True      False        False            False  False
...        ...        ...        ...          ...              ...    ...
2260696  False       True      False        False            False  False
2260697  False       True      False        False            False  False
2260698  False       True      False        False            False  False
2260699  False       True       True         True             True   True
2260700  False       True       True         True             True   True

         int_rate  installment  grade  sub_grade  ...  \
0           False        False  False      False  ...
1           False        False  False      False  ...
2           False        False  False      False  ...
3           False        False  False      False  ...
4           False        False  False      False  ...
...           ...          ...    ...        ...  ...
2260696     False        False  False      False  ...
2260697     False        False  False      False  ...
2260698     False        False  False      False  ...
2260699      True         True   True       True  ...
2260700      True         True   True       True  ...

         hardship_payoff_balance_amount  hardship_last_payment_amount  \
0                                  True                          True
1                                  True                          True
2                                  True                          True
3                                  True                          True
4                                  True                          True
...                                 ...                           ...
2260696                            True                          True
2260697                            True                          True
2260698                            True                          True
2260699                            True                          True
2260700                            True                          True

         disbursement_method  debt_settlement_flag  debt_settlement_flag_date  \
0                      False                 False                       True
1                      False                 False                       True
2                      False                 False                       True
3                      False                 False                       True
4                      False                 False                       True
...                      ...                   ...                        ...
2260696                False                 False                       True
2260697                False                 False                      False
2260698                False                 False                       True
2260699                 True                  True                       True
2260700                 True                  True                       True

         settlement_status  settlement_date  settlement_amount  \
0                     True             True               True
1                     True             True               True
2                     True             True               True
3                     True             True               True
4                     True             True               True
...                    ...              ...                ...
2260696               True             True               True
2260697              False            False              False
2260698               True             True               True
2260699               True             True               True
2260700               True             True               True

         settlement_percentage  settlement_term
0                         True             True
1                         True             True
2                         True             True
3                         True             True
4                         True             True
...                        ...              ...
2260696                   True             True
2260697                  False            False
2260698                   True             True
2260699                   True             True
2260700                   True             True

[2260701 rows x 151 columns]
          Amount Requested  Application Date  Loan Title  Risk_Score  \
0                    False             False       False       False
1                    False             False       False       False
2                    False             False       False       False
3                    False             False       False       False
4                    False             False       False       False
...                    ...               ...         ...         ...
27648736             False             False       False       False
27648737             False             False       False        True
27648738             False             False       False       False
27648739             False             False       False        True
27648740             False             False       False       False

          Debt-To-Income Ratio  Zip Code  State  Employment Length  \
0                        False     False  False              False
1                        False     False  False              False
2                        False     False  False              False
3                        False     False  False              False
4                        False     False  False              False
...                        ...       ...    ...                ...
27648736                 False     False  False              False
27648737                 False     False  False              False
27648738                 False     False  False              False
27648739                 False     False  False              False
27648740                 False     False  False              False

          Policy Code
0               False
1               False
2               False
3               False
4               False
...               ...
27648736        False
27648737        False
27648738        False
27648739        False
27648740        False

[27648741 rows x 9 columns]

In [50]:
print(accepted_dataset.describe())
print(rejected_dataset.describe())

       member_id  loan_amnt  funded_amnt  funded_amnt_inv  int_rate  \
count        0.0        0.0          0.0              0.0       0.0
mean         NaN        NaN          NaN              NaN       NaN
std          NaN        NaN          NaN              NaN       NaN
min          NaN        NaN          NaN              NaN       NaN
25%          NaN        NaN          NaN              NaN       NaN
50%          NaN        NaN          NaN              NaN       NaN
75%          NaN        NaN          NaN              NaN       NaN
max          NaN        NaN          NaN              NaN       NaN

       installment  annual_inc  dti  delinq_2yrs  fico_range_low  ...  \
count          0.0         0.0  0.0          0.0             0.0  ...
mean           NaN         NaN  NaN          NaN             NaN  ...
std            NaN         NaN  NaN          NaN             NaN  ...
min            NaN         NaN  NaN          NaN             NaN  ...
25%            NaN         NaN  NaN          NaN             NaN  ...
50%            NaN         NaN  NaN          NaN             NaN  ...
75%            NaN         NaN  NaN          NaN             NaN  ...
max            NaN         NaN  NaN          NaN             NaN  ...

       deferral_term  hardship_amount  hardship_length  hardship_dpd  \
count            0.0              0.0              0.0           0.0
mean             NaN              NaN              NaN           NaN
std              NaN              NaN              NaN           NaN
min              NaN              NaN              NaN           NaN
25%              NaN              NaN              NaN           NaN
50%              NaN              NaN              NaN           NaN
75%              NaN              NaN              NaN           NaN
max              NaN              NaN              NaN           NaN

       orig_projected_additional_accrued_interest  \
count                                         0.0
mean                                          NaN
std                                           NaN
min                                           NaN
25%                                           NaN
50%                                           NaN
75%                                           NaN
max                                           NaN

       hardship_payoff_balance_amount  hardship_last_payment_amount  \
count                             0.0                           0.0
mean                              NaN                           NaN
std                               NaN                           NaN
min                               NaN                           NaN
25%                               NaN                           NaN
50%                               NaN                           NaN
75%                               NaN                           NaN
max                               NaN                           NaN

       settlement_amount  settlement_percentage  settlement_term
count                0.0                    0.0              0.0
mean                 NaN                    NaN              NaN
std                  NaN                    NaN              NaN
min                  NaN                    NaN              NaN
25%                  NaN                    NaN              NaN
50%                  NaN                    NaN              NaN
75%                  NaN                    NaN              NaN
max                  NaN                    NaN              NaN

[8 rows x 113 columns]
       Amount Requested    Risk_Score   Policy Code
count      9.151092e+06  9.151092e+06  9.150659e+06
mean       1.262749e+04  6.281721e+02  3.491552e-03
std        1.089030e+04  8.993679e+01  8.349200e-02
min        0.000000e+00  0.000000e+00  0.000000e+00
25%        4.000000e+03  5.910000e+02  0.000000e+00
50%        1.000000e+04  6.370000e+02  0.000000e+00
75%        2.000000e+04  6.750000e+02  0.000000e+00
max        1.400000e+06  9.900000e+02  2.000000e+00

In [48]:
print(accepted_dataset.isnull().sum())
print(rejected_dataset.isnull().sum())

id                       0
member_id                0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                        ..
settlement_status        0
settlement_date          0
settlement_amount        0
settlement_percentage    0
settlement_term          0
Length: 151, dtype: int64
Amount Requested             0
Application Date             0
Loan Title                  10
Risk_Score                   0
Debt-To-Income Ratio         0
Zip Code                     0
State                        0
Employment Length       158516
Policy Code                433
dtype: int64

In [49]:
accepted_dataset

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, fico_range_low, fico_range_high, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, last_fico_range_high, last_fico_range_low, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, ...]
Index: []

[0 rows x 151 columns]

In [46]:
accepted_dataset=accepted_dataset[~accepted_dataset.member_id.isnull()].copy()
accepted_dataset.isnull().sum()

id                       0
member_id                0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                        ..
settlement_status        0
settlement_date          0
settlement_amount        0
settlement_percentage    0
settlement_term          0
Length: 151, dtype: int64

In [47]:
accepted_dataset

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, fico_range_low, fico_range_high, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, last_fico_range_high, last_fico_range_low, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, ...]
Index: []

[0 rows x 151 columns]

In [18]:
print(rejected_dataset.isnull().sum())

Amount Requested               0
Application Date               0
Loan Title                  1303
Risk_Score              18497630
Debt-To-Income Ratio           0
Zip Code                     293
State                         22
Employment Length         951355
Policy Code                  918
dtype: int64

In [21]:
rejected_dataset=rejected_dataset[~rejected_dataset.Risk_Score.isnull()].copy()
rejected_dataset.isnull().sum()

Amount Requested             0
Application Date             0
Loan Title                  10
Risk_Score                   0
Debt-To-Income Ratio         0
Zip Code                    19
State                       19
Employment Length       158516
Policy Code                433
dtype: int64

In [24]:
rejected_dataset=rejected_dataset[~rejected_dataset.State.isnull()].copy()
rejected_dataset.isnull().sum()

Amount Requested             0
Application Date             0
Loan Title                  10
Risk_Score                   0
Debt-To-Income Ratio         0
Zip Code                     0
State                        0
Employment Length       158516
Policy Code                433
dtype: int64

In [31]:
accepted_dataset=accepted_dataset[~accepted_dataset.member_id.isnull()].copy()
accepted_dataset.isnull().sum()

id                       0
member_id                0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                        ..
settlement_status        0
settlement_date          0
settlement_amount        0
settlement_percentage    0
settlement_term          0
Length: 151, dtype: int64

In [41]:
accepted_dataset.isnull().sum()

id                       0
member_id                0
loan_amnt                0
funded_amnt              0
funded_amnt_inv          0
                        ..
settlement_status        0
settlement_date          0
settlement_amount        0
settlement_percentage    0
settlement_term          0
Length: 151, dtype: int64

In [44]:
accepted_dataset

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, fico_range_low, fico_range_high, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, last_fico_range_high, last_fico_range_low, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, ...]
Index: []

[0 rows x 151 columns]

In [45]:
rejected_dataset

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0
...,...,...,...,...,...,...,...,...,...
27648733,30000.0,2016-12-31,Debt consolidation,681.0,55.15%,726xx,AR,< 1 year,0.0
27648734,1000.0,2016-12-31,Debt consolidation,531.0,31.31%,761xx,TX,< 1 year,0.0
27648736,10000.0,2016-12-31,Debt consolidation,590.0,41.26%,441xx,OH,< 1 year,0.0
27648738,1200.0,2016-12-31,Other,686.0,10.26%,914xx,CA,< 1 year,0.0
27648740,15000.0,2016-12-31,Business,684.0,10.58%,113xx,NY,< 1 year,0.0